@page
@model Jabar.Pages.Vendors.IndexModel

@{
    ViewData["Title"] = "Vendors";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Vendors</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vendor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td class="float-right">
                <a asp-page="./Edit" asp-route-id="@item.VendorId" class="btn btn-outline-dark col-2">Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.VendorId" class="btn btn-outline-dark col-3">Details</a> 
                <a asp-page="./Delete" asp-route-id="@item.VendorId" class="btn btn-danger col-3">Delete</a> 
                <a asp-page="./PurchaseHistory" asp-route-id="@item.VendorId" class="btn btn-outline-dark col-3">Purchase History</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-page="Create" class="floating_circle_button">+</a>
</p>