@page
@model Jabar.Pages.AssemblyRecipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assembly Recipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssemblyRecipe.Item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssemblyRecipe.Item.ItemName)
        </dd>
        <dd class="col-sm-10">
            Assembled: @Html.DisplayFor(model => model.AssemblyRecipe.Item.OnHandQty)
        </dd>
    </dl>
</div>

<div>
    <form method="post">
        <button asp-page-handler="Assemble" asp-route-id="@Model.AssemblyRecipe.AssemblyRecipeId" class="btn btn-success">Assemble</button> |
        <button asp-page-handler="DisAssemble" asp-route-id="@Model.AssemblyRecipe.AssemblyRecipeId" class="btn btn-outline-info">Disassemble</button>
        <input type="hidden" id="assItemId" name="assItemId" value="@Model.AssemblyRecipe.Item.ItemId" />
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Quantitiy Needed
                    </th>

                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.RecipeLines)
                {
                    //this is used to populate itemId on the page model...
                    //it allows the single Item to be selected
                    <input type="hidden" id="itemId" name="itemId" value="@line.ItemId" />

                    <tr class="border">
                        <td class="col-2">
                            @if (line.Item.IsAssembled)
                            {
                                <span style="color:darkgreen; font-weight:bold" class="align-self-center">
                                    <a asp-page="./Details" asp-route-id="@line.Item.AssemblyRecipeId">
                                        @Html.DisplayFor(modelItem => line.Item.ItemName)
                                    </a>

                                </span>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => line.Item.ItemName)
                            }

                        </td>

                        <td class="col-2">
                            @Html.DisplayFor(modelItem => line.Item.Description)
                        </td>
                        <td class="col-2">
                            @Html.DisplayFor(modelItem => line.RequiredItemQty)
                        </td>

                        <td>
                            <a asp-page="/RecipeLines/edit" asp-route-id="@line.RecipeLineId" class="btn btn-dark">Edit Line</a>
                        </td>
                        <td>
                            <a asp-page="/RecipeLines/Delete" asp-route-id="@line.RecipeLineId" class="btn btn-danger">Delete Line</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </form>
</div>
<div>   
    
    <a asp-page="/RecipeLines/Create" asp-route-RecipeId="@Model.AssemblyRecipe.AssemblyRecipeId" class="btn btn-outline-dark col-3">Add Item</a>
    <a asp-page="/Inventory" class="btn btn-outline-dark col-3">Inventory List</a>
    <a asp-page="./Index" class="btn btn-outline-dark col-3">Assembly List</a>
    <a asp-page="./Delete" class="btn btn-danger col-2 float-right" asp-route-id="@Model.AssemblyRecipe.AssemblyRecipeId">Delete Assembly</a>
</div>
