@page
@model Jabar.Pages.Items.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.OnHandQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.OnHandQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ListRetailCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ListRetailCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ReorderQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ReorderQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.MaxQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.MaxQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.MeasureAmnt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.MeasureAmnt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.LastModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.LastModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.LastModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.LastModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.MeasureID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.MeasureID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.IsAssembled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.IsAssembled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.AssemblyRecipeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.AssemblyRecipeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.ItemId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
